<!doctype html>
<head>
<title>New papers from PubMed search</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<h2>New papers pulled from PubMed</h2>
</head>
<body>
	<div>
		<b style="font-size: 18px">Innate immunity and mucus structure and function.</b>
		<p style="font-size: 15px">Peters-Hall JR, Brown KJ, Pillai DK, Tomney A, Garvin LM, Wu X, Rose MC.</p>
		<p style="font-size: 14px">Am J Respir Cell Mol Biol. 2015 Jul;53(1):22-32. doi: 10.1165/rcmb.2014-0256RC.</p>
		<p style="font-size: 13px">PMID: 25692303</p>
	</div>
	<div>
		<b style="font-size: 18px">Molecular organization of the mucins and glycocalyx underlying mucus transport over mucosal surfaces of the airways.</b>
		<p style="font-size: 15px">Kesimer M, Ehre C, Burns KA, Davis CW, Sheehan JK, Pickles RJ.</p>
		<p style="font-size: 14px">Mucosal Immunol. 2013 Mar;6(2):379-92. doi: 10.1038/mi.2012.81.</p>
		<p style="font-size: 13px">PMID: 22929560</p>
	</div>
	<div>
		<b style="font-size: 18px">Quantitative proteomics reveals an altered cystic fibrosis in vitro bronchial epithelial secretome.</b>
		<p style="font-size: 15px">Sheehan JK, Kesimer M, Pickles R.</p>
		<p style="font-size: 14px">Novartis Found Symp. 2006;279:155-66; discussion 167-9, 216-9. Review.</p>
		<p style="font-size: 13px">PMID: 17278393</p>
	</div>	
</body>