<!doctype html>
<head>
	<title>PubMed Search</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<h2>PubMed paper search</h2>
	<div class="searchinfo">
		<dl class="searchnumber">
			<dt>Number of Results: </dt>
			<dd>4</dd>
		</dl>
	</div>
	<div class="papers">
		<div>
			<p class="title">
				<a href="https://www.ncbi.nlm.nih.gov/pubmed/27626054">Dataset of differential lipid raft and global proteomes of SILAC-labeled cystic fibrosis cells upon TNF -α stimulation.</a>
			</p>
			<p class="authors">Chhuon C, Pranke I, Borot F, Tondelier D, Lipecka J, Fritsch J, Chanson M, Edelman A, Ollero M, Guerrera IC.</p>
			<p class="journal">Data Brief. 2016 Aug 20;9:51-6. doi: 10.1016/j.dib.2016.08.012.</p>
			<p class="PMID">PMID: 27626054</p>
		</div>
		<div>
			<p class="title">
				<a href="https://www.ncbi.nlm.nih.gov/pubmed/27397611">Changes in lipid raft proteome upon TNF-α stimulation of cystic fibrosis cells.</a>
			</p>
			<p class="authors">Chhuon C, Pranke I, Borot F, Tondelier D, Lipecka J, Fritsch J, Chanson M, Edelman A, Ollero M, Guerrera IC.</p>
			<p class="journal">J Proteomics. 2016 Aug 11;145:246-53. doi: 10.1016/j.jprot.2016.07.003.</p>
			<p class="PMID">PMID: 27397611</p>
		</div>
		<div>
			<p class="title">
				<a href="https://www.ncbi.nlm.nih.gov/pubmed/22035905">A novel neutrophil derived inflammatory biomarker of pulmonary exacerbation in cystic fibrosis.</a>
			</p>
			<p class="authors">Reeves EP, Bergin DA, Fitzgerald S, Hayes E, Keenan J, Henry M, Meleady P, Vega-Carrascal I, Murray MA, Low TB, McCarthy C, O'Brien E, Clynes M, Gunaratnam C, McElvaney NG.</p>
			<p class="journal">J Cyst Fibros. 2012 Mar;11(2):100-7. doi: 10.1016/j.jcf.2011.09.010.</p>
			<p class="PMID">PMID: 22035905</p>
		</div>
		<div>
			<p class="title">
				<a href="https://www.ncbi.nlm.nih.gov/pubmed/21658316">Analysis of inflammatory and immune response biomarkers in sputum and exhaled breath condensate by a multi-parametric biochip array in cystic fibrosis.</a>
			</p>
			<p class="authors">Colombo C, Faelli N, Tirelli AS, Fortunato F, Biffi A, Claut L, Cariani L, Daccò V, Prato R, Conese M.</p>
			<p class="journal">Int J Immunopathol Pharmacol. 2011 Apr-Jun;24(2):423-32.</p>
			<p class="PMID">PMID: 21658316</p>
		</div>
	</div>
</body>
