<!doctype html>
<head>
<title>New papers from PubMed search</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<h2>New papers pulled from PubMed</h2>
</head>
<body>
	<div>
		<p class="title">Quantitative proteomics reveals an altered cystic fibrosis in vitro bronchial epithelial secretome.</p>
	</div>
	<div>
		<p class="title">Molecular organization of the mucins and glycocalyx underlying mucus transport over mucosal surfaces of the airways.</p>
	</div>
	<div>
		<p class="title">Innate immunity and mucus structure and function.</p>
	</div>
</body>