<!doctype html>
<head>
<title>New papers from PubMed search</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<h2>New papers pulled from PubMed</h2>
</head>
<body>
	<div>
		<p class="title">
			<a href="https://www.ncbi.nlm.nih.gov/pubmed/25692303">Quantitative proteomics reveals an altered cystic fibrosis in vitro bronchial epithelial secretome.</a>
		</p>
		<p class="authors">Peters-Hall JR, Brown KJ, Pillai DK, Tomney A, Garvin LM, Wu X, Rose MC.</p>
		<p class="journal">Am J Respir Cell Mol Biol. 2015 Jul;53(1):22-32. doi: 10.1165/rcmb.2014-0256RC.</p>
		<p class="PMID">PMID: 25692303</p>
	</div>
	<div>
		<p class="title">
			<a href="https://www.ncbi.nlm.nih.gov/pubmed/22929560">Molecular organization of the mucins and glycocalyx underlying mucus transport over mucosal surfaces of the airways.</a>
		</p>
		<p class="authors">Kesimer M, Ehre C, Burns KA, Davis CW, Sheehan JK, Pickles RJ.</p>
		<p class="journal">Mucosal Immunol. 2013 Mar;6(2):379-92. doi: 10.1038/mi.2012.81.</p>
		<p class="PMID">PMID: 22929560</p>
	</div>
	<div>
		<p class="title">
			<a href="https://www.ncbi.nlm.nih.gov/pubmed/17278393">Innate immunity and mucus structure and function.</a>
		</p>
		<p class="authors">Sheehan JK, Kesimer M, Pickles R.</p>
		<p class="journal">Novartis Found Symp. 2006;279:155-66; discussion 167-9, 216-9. Review.</p>
		<p class="PMID">PMID: 17278393</p>
	</div>
</body>